{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'list.css' %}">
</head>
<body>
    <header>
        <h1>Мой сайт</h1>
        {% if user.is_authenticated %}
            <p>Привет, {{ user.username }}!</p>
        {% endif %}
        <nav>
            <ul>
                <li><button><a href="{% url 'tournament_create' %}">Главная</a></button></li>
                <li><button><a href="https://t.me/Skyazafly13">О нас</a></button></li>
                {% if user.is_authenticated %}
                    <li><button><a href="{% url 'logout' %}">Выйти</a></button></li>
                {% else %}
                    <li><button><a href="{% url 'login' %}">Вход</a></button></li>
                    <li><button><a href="{% url 'register' %}">Регистрация</a></button></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Мой сайт</p>
    </footer>
</body>
</html>