{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Tournament App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <header>
        <h1>My Tournament App</h1>
        <nav>
            <ul>
                <button><span><a href="{% url 'tournament_list' %}">Home</a></span></button>
                <button><span><a href="{% url 'tournament_create' %}">Create Tournament</a></span></button>
                <button><span><a href="{% url 'select_tournament'%}">Select</a></span></button>
                <button><span><a href="{% url 'register'%}">Register</a></span></button>
                <button><span><a href="{% url 'profile' %}">Profile</a></span></button>
                <button><span><a href="{% url 'result_form' %}">Result</a></span></button>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

<script src="{% static 'main.js' %}"></script>
</body>
</html>
