{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Tournament App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <meta name="google-site-verification" content="L7dmvyUJ82Ff3Dz7bVd-VMt85GPcLYDPl-E0EDHugkE" />
</head>
<body>
<form method="post">
    {% csrf_token %}
</form>
    <header>
        <h1>My Tournament App</h1>
        <nav>
            <ul>
                <button><span><a href="{% url 'tournament_list' %}">Home</a></span></button>
                <button><span><a href="{% url 'tournament_create' %}">Create Tournament</a></span></button>
                <button><span><a href="{% url 'select_tournament'%}">Select</a></span></button>
                {% if not user.is_authenticated %}
                <button><span><a href="{% url 'register' %}">Register</a></span></button>
                {% endif %}
                <button><span><a href="{% url 'profile' %}">Profile</a></span></button>
                <button><span><a href="{% url 'result_form' %}">Result</a></span></button>
                <button><span><a href="{% url 'add_team_to_tournament' %}">Add Team</a></span></button>
                <button><span><a href="{% url 'create_team' %}">create_team</a></span></button>






            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

<script src="{% static 'main.js' %}"></script>
</body>
</html>
