{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Tournament App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tournaments/style.css' %}">
</head>
<body>
    <header>
        <h1>My Tournament App</h1>
        <nav>
            <ul>
                <li><button><a href="{% url 'tournament_list' %}">Home</a></button></li>
                <li><button><a href="{% url 'tournament_create' %}">Create Tournament</a></button></li>
                <li><button><a href="{% url 'select_tournament'%}">Select</a></button></li>
                <li><button><a href="{% url 'register'%}">Register</a></button></li>
                <li><button><a href="{% url 'profile' %}">Profile</a></button></li>
                <li><button><a href="{% url 'result_form' %}">Result</a></button></li>


            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Tournament App</p>
    </footer>

</body>
</html>
