<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


{% extends 'tournaments/base_generic.html' %}

{% block title %}Tournament List{% endblock %}

{% block content %}
<h1>Список турниров</h1>

<ul>
    {% for tournament in object_list %}
        <li>
            <a href="{% url 'tournament_detail' tournament.pk %}">{{ tournament.name }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}

<h1>Список турниров</h1>
<ul>
    {% for tournament in tournaments %}
        <li>
            <a href="#">{{ tournament.name }}</a>
            <a href="{% url 'delete_tournament' tournament.id %}">Удалить</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'create_tournament' %}">Создать турнир</a>
</body>
</html>