<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TourStore</title>
 <meta name="description" content="Турниры По Играм">
    <meta name="keywords" content="Tournaments Games">
    <meta name="google-site-verification" content="JoNIOS1FgJ8YtuzaVPIZE-UYbbiZ2GEfjW1DfibB-60" />
</head>
<body>


{% extends 'tournaments/base_generic.html' %}

{% block title %}Tournament List{% endblock %}

{% block content %}


{% endblock %}


<a href="{% url 'create_tournament' %}">Создать турнирр</a>
</body>
</html>